In [4]:
import pandas as pd
import numpy as np

In [5]:
data_path = '../data/'
listing_info_fn = 'listing_info.csv'
test_fn = 'test.csv'
train_fn = 'train.csv'
user_behavior_logs_fn = 'user_behavior_logs.csv'
user_info_fn = 'user_info.csv'
user_repay_logs_fn  = 'user_repay_logs.csv'
user_taglist_fn = 'user_taglist.csv'

In [6]:
listing_info_data = pd.read_csv(data_path+listing_info_fn)

In [7]:
# listing_info_data = pd.read_csv(data_path+listing_info_fn)
test_data = pd.read_csv(data_path+test_fn)
train_data = pd.read_csv(data_path+train_fn)
# user_behavior_logs_data = pd.read_csv(data_path+user_behavior_logs_fn)
user_info_data = pd.read_csv(data_path+user_info_fn)
user_repay_logs_data = pd.read_csv(data_path+user_repay_logs_fn)
user_taglist_data = pd.read_csv(data_path+user_taglist_fn)

In [9]:
print(listing_info_data.shape)
print(test_data.shape)
print(train_data.shape)
print(user_info_data.shape)
print(user_repay_logs_data.shape)
print(user_taglist_data.shape)

(5484891, 6)
(130000, 5)
(1000000, 7)
(954209, 8)
(18001297, 7)
(615160, 3)

In [34]:
train_data.loc[train_data['user_id'] == 5]

Empty DataFrame
Columns: [user_id, listing_id, auditing_date, due_date, due_amt, repay_date, repay_amt]
Index: []

In [37]:
listing_info_data.loc[listing_info_data['user_id'] == 5]

         user_id  listing_id auditing_date  term  rate  principal
2846438        5     5348580    2019-02-18     6   6.9       1210
2856611        5     5306624    2019-02-07     6   6.9       1100
2890314        5     5223694    2019-01-08     3   6.5       3070
3767748        5     4954936    2018-11-21     3   7.2       1250
4041443        5     4696851    2018-10-20     6   8.0       2010

In [38]:
user_taglist_data.loc[user_taglist_data['user_id'] == 5]

        user_id                                            taglist  insertdate
221336        5  1868|2580|483|1303|904|3604|4028|2049|196|3551...  2019-02-17

In [36]:
user_repay_logs_data.loc[user_repay_logs_data['user_id'] == 5]

,user_id,listing_id,order_id,due_date,due_amt,repay_date,repay_amt
11599666,5,4954936,1,2018-12-21,421.6766,2018-12-19,421.6766
11599667,5,4954936,2,2019-01-21,421.6766,2019-01-18,421.6766
12641360,5,5223694,1,2019-02-08,1034.4515,2019-02-07,1034.4515
13528693,5,4696851,3,2019-01-20,342.8632,2019-01-18,342.8632
13528694,5,4696851,1,2018-11-20,342.8632,2018-11-19,342.8632
13528695,5,4696851,2,2018-12-20,342.8632,2018-12-19,342.8632

In [35]:
user_info_data.loc[user_info_data['user_id'] == 5]

,user_id,reg_mon,gender,age,cell_province,id_province,id_city,insertdate
953223,5,2008-04,男,45,c04,c27,c27120,2019-02-17

In [33]:
test_data.sort_values(['user_id', 'auditing_date'])

        user_id  listing_id auditing_date    due_date    due_amt
26177         5     5348580    2019-02-18  2019-03-18   205.7445
95146         8     5288930    2019-02-02  2019-03-02   521.9878
7011         20     5335952    2019-02-15  2019-03-15    88.1426
117274       22     5382105    2019-02-26  2019-03-26   125.7629
55784        24     5433181    2019-03-12  2019-04-12   560.4247
18638        29     5422932    2019-03-09  2019-04-09   467.6095
84268        35     5414862    2019-03-07  2019-04-07   226.9417
25043        41     5462399    2019-03-22  2019-04-22  1450.8678
34878        46     5480102    2019-03-29  2019-04-29   220.6568
35276        55     5424428    2019-03-09  2019-04-09   290.1735
115205       72     5390172    2019-02-28  2019-03-28   309.1135
42386        76     5435162    2019-03-13  2019-04-13   455.1781
19794        77     5406052    2019-03-04  2019-04-04   346.4790
736          78     5311792    2019-02-08  2019-03-08   201.4690
8054         96     5466148    2019-03-23  2019-04-23   362.4260
111101       97     5318405    2019-02-10  2019-03-10    99.5897
97206       101     5411415    2019-03-06  2019-04-06   109.1399
58687       102     5444740    2019-03-16  2019-04-16   129.9284
36295       107     5374946    2019-02-25  2019-03-25   483.4584
112544      114     5376694    2019-02-25  2019-03-25   233.0050
5079        117     5432417    2019-03-12  2019-04-12   101.3441
123761      133     5447535    2019-03-17  2019-04-17  1129.4536
120391      142     5443331    2019-03-15  2019-04-15    89.1773
90391       153     5284763    2019-02-01  2019-03-01   283.8881
56662       165     5471014    2019-03-26  2019-04-26   383.8442
17481       170     5327789    2019-02-13  2019-03-13   467.6013
61587       193     5413621    2019-03-06  2019-04-06   375.9263
4566        200     5304636    2019-02-06  2019-03-06   124.7734
81172       220     5405415    2019-03-04  2019-04-04   236.6630
17869       221     5421627    2019-03-08  2019-04-08   940.9282
...         ...         ...           ...         ...        ...
14400    928166     5472427    2019-03-26  2019-04-26   568.9728
50909    928167     5480699    2019-03-29  2019-04-29   940.9282
22475    928168     5473447    2019-03-26  2019-04-26   163.0489
9936     928169     5473104    2019-03-26  2019-04-26   671.2970
32007    928170     5471936    2019-03-26  2019-04-26    72.0278
3911     928171     5480569    2019-03-29  2019-04-29    97.1804
116992   928172     5471552    2019-03-26  2019-04-26   383.8442
19795    928173     5472825    2019-03-26  2019-04-26   107.0008
123862   928174     5471541    2019-03-26  2019-04-26   236.6630
120037   928175     5472002    2019-03-26  2019-04-26   131.6608
92237    928176     5484670    2019-03-31  2019-04-30   195.5042
46024    928177     5476799    2019-03-28  2019-04-28   258.3857
72851    928178     5480384    2019-03-29  2019-04-29  1503.1075
114616   928179     5484026    2019-03-31  2019-04-30   337.9866
42775    928180     5474926    2019-03-27  2019-04-27   195.5042
8815     928181     5478804    2019-03-28  2019-04-28   375.3521
73743    928182     5484533    2019-03-31  2019-04-30   940.9282
106462   928183     5476811    2019-03-28  2019-04-28   337.8139
127843   928184     5479043    2019-03-28  2019-04-28   212.2816
107527   928185     5477873    2019-03-28  2019-04-28   755.7996
20818    928186     5478547    2019-03-28  2019-04-28   283.5383
76971    928187     5477266    2019-03-28  2019-04-28  2463.1412
36126    928188     5484268    2019-03-31  2019-04-30    54.5699
66250    928189     5482120    2019-03-30  2019-04-30  1518.3020
19809    928190     5484061    2019-03-31  2019-04-30   255.5259
127393   928191     5481531    2019-03-30  2019-04-30   847.5146
92413    928192     5481629    2019-03-30  2019-04-30   568.9728
65162    928193     5481681    2019-03-30  2019-04-30   832.3222
17127    928194     5482233    2019-03-30  2019-04-30   133.7660
67763    928195     5483655    2019-03-31  2019-04-30   940.9282

[130000 rows x 5 columns]

In [21]:
print(user_repay_logs_data.count())
print(user_repay_logs_data.loc[user_repay_logs_data['repay_date'] == '2200-01-01'].count())

user_id       18001297
listing_id    18001297
order_id      18001297
due_date      18001297
due_amt       18001297
repay_date    18001297
repay_amt     18001297
dtype: int64
user_id       983488
listing_id    983488
order_id      983488
due_date      983488
due_amt       983488
repay_date    983488
repay_amt     983488
dtype: int64

### 对user_id进行筛查

In [42]:
print(listing_info_data.shape)
print(train_data.shape)
print(test_data.shape)
print(user_info_data.shape)
print(user_repay_logs_data.shape)
print(user_taglist_data.shape)

(5484891, 6)
(1000000, 7)
(130000, 5)
(954209, 8)
(18001297, 7)
(615160, 3)

In [63]:
print(listing_info_data['user_id'].value_counts().sort_index())
print(train_data['user_id'].value_counts().sort_index())
print(test_data['user_id'].value_counts().sort_index())
print(user_info_data['user_id'].value_counts().sort_index())
print(user_repay_logs_data['user_id'].value_counts().sort_index())
print(user_taglist_data['user_id'].value_counts().sort_index())

1          2
2          2
3          6
4          2
5          5
6         10
7          1
8          6
9          3
10        12
11         7
12         2
13         5
14         2
15         3
16         8
17         1
18         9
19         5
20         3
21         2
22         6
23         7
24         8
25         3
26         2
27        16
28        10
29         2
30         7
          ..
928166     2
928167     3
928168     2
928169     2
928170     2
928171     2
928172     2
928173     2
928174     2
928175     2
928176     2
928177     2
928178     2
928179     2
928180     2
928181     2
928182     2
928183     2
928184     2
928185     2
928186     2
928187     2
928188     2
928189     2
928190     2
928191     2
928192     2
928193     2
928194     2
928195     2
Name: user_id, Length: 928195, dtype: int64
1         1
2         1
3         2
4         1
6         1
7         1
8         1
9         2
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        2
21        1
23        1
24        1
25        1
26        1
27        2
28        2
30        1
31        1
32        1
33        1
34        1
         ..
923735    1
923736    1
923762    2
923834    1
923851    1
923870    1
923877    1
923885    2
923916    2
923948    1
923953    1
923962    1
923969    1
923974    1
923988    1
924007    1
924014    1
924036    1
924042    1
924051    1
924094    1
924113    1
924125    1
924147    1
924205    1
924223    1
924256    1
924336    1
924366    1
924400    1
Name: user_id, Length: 823732, dtype: int64
5         1
8         1
20        1
22        1
24        1
29        1
35        1
41        1
46        1
55        1
72        1
76        1
77        1
78        1
96        1
97        1
101       1
102       1
107       1
114       1
117       1
133       1
142       1
153       1
165       1
170       1
193       1
200       1
220       1
221       1
         ..
928166    1
928167    1
928168    1
928169    1
928170    1
928171    1
928172    1
928173    1
928174    1
928175    1
928176    1
928177    1
928178    1
928179    1
928180    1
928181    1
928182    1
928183    1
928184    1
928185    1
928186    1
928187    1
928188    1
928189    1
928190    1
928191    1
928192    1
928193    1
928194    1
928195    1
Name: user_id, Length: 130000, dtype: int64
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         2
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        1
17        1
18        1
19        1
20        1
21        1
22        1
23        1
24        2
25        1
26        1
27        1
28        1
29        1
30        1
         ..
928166    1
928167    1
928168    1
928169    1
928170    1
928171    1
928172    1
928173    1
928174    1
928175    1
928176    1
928177    1
928178    1
928179    1
928180    1
928181    1
928182    1
928183    1
928184    1
928185    1
928186    1
928187    1
928188    1
928189    1
928190    1
928191    1
928192    1
928193    1
928194    1
928195    1
Name: user_id, Length: 928195, dtype: int64
1          1
2          8
3         40
4          3
5          6
6         53
8         31
9          4
10        35
11        11
12         6
14         2
15         7
16        22
18        37
19        15
20         3
21         5
22        16
23        24
24        13
25         8
26         4
27        46
28        33
29         6
30        21
31        39
32         2
33         6
          ..
928148     2
928149     3
928150     1
928151     2
928153    12
928156     3
928157     6
928159     1
928161     2
928162     6
928163     3
928164    12
928167     3
928168     3
928170     2
928171     2
928172     3
928174     2
928175     2
928177     2
928178    12
928180    12
928183     3
928184     2
928188    12
928191     3
928192     3
928193     2
928194     3
928195     2
Name: user_id, Length: 874841, dtype: int64
2         1
4         1
5         1
7         1
9         2
10        1
12        1
13        1
15        1
17        1
18        1
20        1
22        1
24        2
26        1
29        1
31        1
32        1
33        1
35        1
37        1
38        1
39        1
40        1
41        1
42        1
45        1
46        1
50        1
52        2
         ..
928133    1
928135    1
928136    1
928138    1
928139    1
928140    1
928141    1
928142    1
928143    1
928144    1
928145    1
928149    1
928152    1
928155    1
928156    1
928158    1
928160    1
928164    1
928166    1
928168    1
928169    1
928170    1
928172    1
928177    1
928179    1
928180    1
928186    1
928188    1
928190    1
928193    1
Name: user_id, Length: 535380, dtype: int64

In [43]:
print(len(listing_info_data['user_id'].value_counts()))
print(len(train_data['user_id'].value_counts()))
print(len(test_data['user_id'].value_counts()))
print(len(user_info_data['user_id'].value_counts()))
print(len(user_repay_logs_data['user_id'].value_counts()))
print(len(user_taglist_data['user_id'].value_counts()))

928195
823732
130000
928195
874841
535380

In [58]:
listing_info_userid_idx = listing_info_data['user_id'].value_counts().index
train_userid_idx = train_data['user_id'].value_counts().index
test_userid_idx = test_data['user_id'].value_counts().index
user_info_userid_idx = user_info_data['user_id'].value_counts().index
user_taglist_userid_idx = user_taglist_data['user_id'].value_counts().index
user_repay_logs_userid_idx = user_repay_logs_data['user_id'].value_counts().index

In [69]:
print(len(listing_info_userid_idx))
print(len(train_userid_idx))
print(len(test_userid_idx))
print(len(user_info_userid_idx))
print(len(user_taglist_userid_idx))
print(len(user_repay_logs_userid_idx))

928195
823732
130000
928195
535380
874841

In [70]:
listing_info_userid_idx.difference(test_userid_idx)

Int64Index([     1,      2,      3,      4,      6,      7,      9,     10,
                11,     12,
            ...
            924094, 924113, 924125, 924147, 924205, 924223, 924256, 924336,
            924366, 924400],
           dtype='int64', length=798195)

In [71]:
test_userid_idx.difference(listing_info_userid_idx)

Int64Index([], dtype='int64')

In [72]:
def find_diff_index(idx1, idx2):
    rtn = idx1.difference(idx2)
    if len(rtn):
        return rtn
    else:
        return idx2.difference(idx1)

In [64]:
listing_info_data.loc[listing_info_data['user_id'] == 1]

         user_id  listing_id auditing_date  term  rate  principal
4307755        1     5138741    2018-12-17     9   7.2       5540
5016150        1      445999    2017-06-21    12   9.3       1380

In [66]:
user_repay_logs_data.loc[user_repay_logs_data['user_id'] == 1]

,user_id,listing_id,order_id,due_date,due_amt,repay_date,repay_amt
9204193,1,445999,12,2018-06-21,120.8751,2018-02-15,120.8751

In [73]:
print('||listing_info & user_info       :||',find_diff_index(listing_info_userid_idx, user_info_userid_idx), '\n')
print('||listing_info & user_taglist    :||',find_diff_index(listing_info_userid_idx, user_taglist_userid_idx), '\n')
print('||listing_info & user_repay_logs :||',find_diff_index(listing_info_userid_idx, user_repay_logs_userid_idx), '\n')
print('||user_info & user_taglist       :||',find_diff_index(user_info_userid_idx, user_taglist_userid_idx), '\n')
print('||user_info & user_repay_logs    :||',find_diff_index(user_info_userid_idx, user_repay_logs_userid_idx), '\n')
print('||user_taglist & user_repay_logs :||',find_diff_index(user_taglist_userid_idx, user_repay_logs_userid_idx), '\n')

||listing_info & user_info       :|| Int64Index([], dtype='int64')

||listing_info & user_taglist    :|| Int64Index([     1,      3,      6,      8,     11,     14,     16,     19,
                21,     23,
            ...
            928182, 928183, 928184, 928185, 928187, 928189, 928191, 928192,
            928194, 928195],
           dtype='int64', length=392815)

||listing_info & user_repay_logs :|| Int64Index([     7,     13,     17,     36,     41,     61,     68,     75,
                87,    100,
            ...
            928173, 928176, 928179, 928181, 928182, 928185, 928186, 928187,
            928189, 928190],
           dtype='int64', length=53354)

||user_info & user_taglist       :|| Int64Index([     1,      3,      6,      8,     11,     14,     16,     19,
                21,     23,
            ...
            928182, 928183, 928184, 928185, 928187, 928189, 928191, 928192,
            928194, 928195],
           dtype='int64', length=392815)

||user_info & user_repay_logs    :|| Int64Index([     7,     13,     17,     36,     41,     61,     68,     75,
                87,    100,
            ...
            928173, 928176, 928179, 928181, 928182, 928185, 928186, 928187,
            928189, 928190],
           dtype='int64', length=53354)

||user_taglist & user_repay_logs :|| Int64Index([     7,     13,     17,     41,     61,     87,    123,    125,
               137,    193,
            ...
            928145, 928152, 928155, 928158, 928160, 928166, 928169, 928179,
            928186, 928190],
           dtype='int64', length=32762)

In [74]:
print('||listing_info    :||',find_diff_index(train_userid_idx, listing_info_userid_idx), '\n')
print('||user_taglist    :||',find_diff_index(train_userid_idx, user_taglist_userid_idx), '\n')
print('||user_repay_logs :||',find_diff_index(train_userid_idx, user_repay_logs_userid_idx), '\n')
print('||user_info       :||',find_diff_index(train_userid_idx, user_info_userid_idx), '\n')

||listing_info    :|| Int64Index([     5,     20,     22,     29,     35,     41,     46,     55,
                72,     76,
            ...
            928186, 928187, 928188, 928189, 928190, 928191, 928192, 928193,
            928194, 928195],
           dtype='int64', length=104463)

||user_taglist    :|| Int64Index([     1,      3,      6,      8,     11,     14,     16,     19,
                21,     23,
            ...
            923870, 923962, 923974, 923988, 924014, 924094, 924125, 924147,
            924205, 924336],
           dtype='int64', length=352264)

||user_repay_logs :|| Int64Index([     7,     13,     17,     36,     61,     68,     75,     87,
               100,    123,
            ...
            923644, 923698, 923736, 923851, 923877, 924036, 924051, 924125,
            924147, 924400],
           dtype='int64', length=44434)

||user_info       :|| Int64Index([     5,     20,     22,     29,     35,     41,     46,     55,
                72,     76,
            ...
            928186, 928187, 928188, 928189, 928190, 928191, 928192, 928193,
            928194, 928195],
           dtype='int64', length=104463)

In [75]:
print('||listing_info    :||',find_diff_index(test_userid_idx, listing_info_userid_idx), '\n')
print('||user_taglist    :||',find_diff_index(test_userid_idx, user_taglist_userid_idx), '\n')
print('||user_repay_logs :||',find_diff_index(test_userid_idx, user_repay_logs_userid_idx), '\n')
print('||user_info       :||',find_diff_index(test_userid_idx, user_info_userid_idx), '\n')

||listing_info    :|| Int64Index([     1,      2,      3,      4,      6,      7,      9,     10,
                11,     12,
            ...
            924094, 924113, 924125, 924147, 924205, 924223, 924256, 924336,
            924366, 924400],
           dtype='int64', length=798195)

||user_taglist    :|| Int64Index([     8,     72,     77,    107,    114,    117,    133,    165,
               249,    259,
            ...
            928182, 928183, 928184, 928185, 928187, 928189, 928191, 928192,
            928194, 928195],
           dtype='int64', length=50214)

||user_repay_logs :|| Int64Index([    41,    193,    285,    354,    370,    384,    423,    524,
               619,    711,
            ...
            928173, 928176, 928179, 928181, 928182, 928185, 928186, 928187,
            928189, 928190],
           dtype='int64', length=8920)

||user_info       :|| Int64Index([     1,      2,      3,      4,      6,      7,      9,     10,
                11,     12,
            ...
            924094, 924113, 924125, 924147, 924205, 924223, 924256, 924336,
            924366, 924400],
           dtype='int64', length=798195)

从上面的结果可以看出，资产标的和用户信息的userid数量是一致的

In [57]:
train_user_info_idx = train_userid_idx.isin(user_info_userid_idx)
pd.Series(train_user_info_idx).value_counts()

True    823732
dtype: int64

In [58]:
user_info_train_idx = user_info_userid_idx.isin(train_userid_idx)
pd.Series(user_info_train_idx).value_counts()

True     823732
False    104463
dtype: int64

In [59]:
user_taglist_train_idx = user_taglist_userid_idx.isin(train_userid_idx)
pd.Series(user_taglist_train_idx).value_counts()

True     471468
False     63912
dtype: int64

In [60]:
user_taglist_user_info_idx = user_taglist_userid_idx.isin(user_info_userid_idx)
pd.Series(user_taglist_user_info_idx).value_counts()

True    535380
dtype: int64

In [24]:
listing_info_user_info_idx = listing_info_data_userid_idx.isin(train_userid_idx)
pd.Series(listing_info_user_info_idx).value_counts()

True     823732
False    104463
dtype: int64